@import "./../index.css";

.HomePage {
  height: 100%;
  padding: var(--gutter);

  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage__content {
  display: grid;
  grid-gap: var(--gutter);
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.HomePage-title {
  font-size: var(--h1-font-size);
}
.HomePage-subtitle {
  font-size: var(--big-text-font-size);
}

.HomePage__image {
  font-size: 100px;
}
