@import "./../index.css";

.HomePage {
  margin: var(--gutter);
}

.HomePage-title {
  font-size: var(--h1-font-size);
}
.HomePage-subtitle {
  font-size: var(--big-text-font-size);
}

.HomePage__image {
  font-size: 100px;
}
