@import "./../index.css";

.Ingredient {
  width: 100%;
  padding: var(--gutter);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.Ingredient__title {
  text-transform: capitalize;
  font-size: var(--big-text-font-size);
}

.Ingredient__price {
    margin-top: calc(var(--gutter) / 2);
    font-size: var(--text-font-size);
}
