@import "./../index.css";

.IngredientListItem {
  width: 100%;
  padding: var(--gutter);

  display: flex;
  align-items: center;

  list-style: none;
  border: none;
  background-color: var(--primary-color);

  text-align: start;
  color: var(--secondary-text-color);
}

.IngredientListItem__button {
  width: calc(var(--text-font-size) * 1.5);
  height: calc(var(--text-font-size) * 1.5);

  padding: 0;
  margin-left: var(--gutter);

  border: none;
  border-radius: 50%;
  background-color: var(--secondary-color);

  line-height: 1;
  font-size: var(--gutter);
  color: var(--secondary-text-color);

  transition: background-color var(--animation-speed-fast);
}

.IngredientListItem__button:hover {
  background-color: var(--secondary-color-hover);
}

.IngredientListItem__button:active {
  background-color: var(--secondary-color);
}

.IngredientListItem__title {
  margin-right: var(--gutter);
  flex: 1;
  text-transform: capitalize;
  font-size: var(--big-text-font-size);
}

.IngredientListItem__price {
  font-size: var(--text-font-size);
}
