@import "./../index.css";

.Button {
  padding: calc(var(--gutter));

  border: none;
  background: var(--secondary-color);
  border-radius: var(--border-radius);

  font-size: var(--big-text-font-size);
  color: var(--secondary-text-color);
  box-shadow: var(--box-shadow);

  transition: background-color var(--animation-speed-fast);
}

.Button:hover {
  background-color: var(--secondary-color-hover);
}

.Button:active {
  transform: translateY(1px);
}

.Button--link {
  text-decoration: none;
}

.Button--disabled {
  cursor: not-allowed;
  pointer-events: none;

  background-color: var(--third-color);
}
