@import "./../index.css";

.Card {
  padding: calc(var(--gutter) * 2);

  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--secondary-text-color);
}
