:root {
  /* Colors */
  --primary-color: #373831;
  --secondary-color: #079c32;
  --third-color: #4b4c44;

  --secondary-color-hover: #076d25;
  --secondary-text-color: #fefefe;

  --primary-color-75p: rgba(55, 56, 49, 0.75);
  --card-bg-color: var(--primary-color-75p);

  /* Dimensions */
  --header-height: 50px;
  --gutter: var(--text-font-size);
  --border-radius: 5px;

  /* Fonts */
  --text-font-size: 16px;
  --big-text-font-size: calc(1.5 * var(--text-font-size));
  --h1-font-size: calc(2 * var(--text-font-size));

  --bold-font-weight: 400;

  /* Shadows */
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --box-shadow: 1px 1px 5px 1px var(--box-shadow-color);

  /* Animation */
  --animation-speed-fast: 400ms;
}
